<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<div *ngIf="productIsSelected"> 
<h3>Here is my first product: </h3>
<img width="100" src={{selectedProduct.imgUrlPath}}
 />
<div><label>Name: </label>{{selectedProduct.name}}</div>
<div><label>Description: </label>{{selectedProduct.description}}</div>
<div><label>Price: </label>{{selectedProduct.price}}<label> ₴</label></div>
<div><label>Category: </label>{{SweetsCategory[selectedProduct.category]}}</div>
<div><label>In stock: </label>{{selectedProduct.isAvailable}}</div>
<div><label>Equivalents: </label>
  <ul class="equivalentsList">
    <li *ngFor="let sweet of selectedProduct.equivalents"> {{sweet}}
    </li>
  </ul>
</div>
<div>
  <input type="button" (click)="OnBuy()"  value="Buy">
</div>
<div *ngIf="inBusket" >
  <img width="50" src="http://www.freeiconspng.com/uploads/shopping-basket-icon-23.png"/>
</div>
</div>
<h3>Select Sweet:</h3>
    <ul>
      <li *ngFor="let prod of products"
        [class.selected]="prod === selectedProduct"
        (click)="onSelect(prod)">
        {{prod.name}}
      </li>
    </ul>

<product-list [productList] = "products"></product-list>